body {
  background-image: url('../images/background.png');
   padding-left: 10px;
   padding-right: 10px;
   line-height: 1.5
}
h1 {
  font-family:Verdana;
  font-size:20px;
  color:#FFFFFF
}
label {
  font-family:Verdana;
  font-size:16px;
  color:#FFFFFF
}
button {
  background-color: #FFFFFF;
  border: none;
  color: #666666;
  width: 70px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  margin-top:5px
}
button:disabled {
  background-color: #666666;
  color: #CCCCCC;
}
.config {
  background-color: #FFFFFF;
  border: none;
  color: #666666;
  width: 150px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  margin-top:5px
}
