body {
  background-image: url('../images/background.png');
}
h1 {
  font-family:Verdana;
  font-size:20px;
  color:#FFFFFF
}
label {
  font-family:Verdana;
  font-size:16px;
  color:#FFFFFF
}
button {
  background-color: #888888;
  border: none;
  color: white;
  width: 75px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #FFFFFF;
  color: black;
}
.config {
  background-color: #888888;
  border: none;
  color: white;
  width: 150px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.config:hover {
  background-color: #FFFFFF;
  color: black;
}
